.venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
data/raw/*
data/tokenized/*
!data/.gitkeep
!data/raw/.gitkeep
!data/tokenized/.gitkeep
runs/*
!runs/.gitkeep
logs/*
!logs/.gitkeep
report/compiled/*
!report/compiled/.gitkeep
report/*.aux
report/*.bbl
report/*.blg
report/*.fls
report/*.fdb_latexmk
report/*.log
report/*.out
report/*.toc
